In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('home_prices_multiple_attr.csv')
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.bedroom.median()

3.5

In [5]:
import math
bedroom_median = df.bedroom.median()
bedroom_median = math.floor(bedroom_median)
bedroom_median

3

In [6]:
df.bedroom = df.bedroom.fillna(bedroom_median)
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [7]:
reg = LinearRegression()

x = df.iloc[:,0:-1].values
y = df.iloc[:,-1].values

reg.fit(x, y)

LinearRegression()

In [8]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [9]:
reg.intercept_

383724.9999999998

In [10]:
reg.predict([[3000, 3, 40]])

array([444400.])

In [11]:
reg.predict([[2500, 4, 5]])

array([588625.])